fec/correct_output2.jpg
fec/fec.vcxproj
fec/fec.vcxproj.filters
fec/output83570328.hex
fec/output83648219.hex
fec/output83583931.hex
fec.sln
ipch/fec-84ac4cb4/fec-9b97163a.ipch
ipch/fec-84ac4cb4/fec-b64a4534.ipch
fec/Release/vc120.pdb
fec/Release/io.obj
fec/Release/main.obj
fec/Release/MsgQue.obj
fec/Release/stdafx.obj
fec/Release/XSocket.obj
fec/Release/fec.tlog/link.write.1.tlog
fec.v12.suo
fec.sdf
fec.opensdf
fec/Debug/crc.obj
fec/Debug/fec.log
fec/Debug/fec.obj
fec/Debug/fec.pch
fec/Debug/fec.tlog/cl.command.1.tlog
fec/Debug/fec.tlog/CL.read.1.tlog
fec/Debug/fec.tlog/CL.write.1.tlog
fec/Debug/fec.tlog/fec.lastbuildstate
fec/Debug/fec.tlog/unsuccessfulbuild
fec/Debug/io.obj
*.obj
*.idb
*.pdb
*.log
*.tlog
*.pch